body {
    background-image: url(https://i.pinimg.com/236x/58/53/24/5853244565934a13623301a62e4861a8--phone-backgrounds-iphone-wallpaper.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
    width: 30%;
    margin-left: 70%;
}

li {
    display: inline-block;
    list-style: none;
    margin-left: 5%;
}

a {
    text-decoration: none;
    color: black;
}

#header {
    min-height: 10%;
    display: flex;
    background-color:#4B9DDA;
}

#logo {
    margin-right: 30%;
    float: left;
}

#navPrincipal {
    padding-top: 17%;
}

#navPrincipal li {
    display: inline;
    list-style: none;
}
#divForm {
    margin-left: 34%;
    width: 20%;
    padding: 3%;
}

#divForm form {
    margin-left: 15%;
}

#divForm h1 {
    margin-left: 30%;
    margin-bottom: 10%;
}

#divForm form input {
    display: inline-block;
    margin-bottom: 5%;
    margin-top: 1%;
}

#divForm label {
    margin-left: 7%;
}

#content {
    margin-top: 5%;
}

#infoSobreLaTienda {
    text-align: justify; padding: 7%; line-height: 30px;
}
